/* Navigation */
#navbar{
    flex-direction: column;
}
/* Home Section */
#home{
    height: 370px;
    
}
#home::before{
    height: 480px;
    
}
#home p{
    
    
}
/* Services Section */
#services{
    flex-direction: column;
}
#services .box{


}
/* Clients section */
#client{
    overflow: hidden;
}

/* Contact Us Section */

/* Footer */